<div class="container">
    <div class="content-wrapper">
        <div class="top-container">
            <div class="score-container">
                Score : 10
            </div>
            <div class="timer-container">
                Time Left : 10 sec
            </div>
        </div>
        <div class="question-container">
            <div class="question">
                Which colour is the sky??
            </div>
            <button class="option" mat-button>green</button>
            <button class="option" mat-button>gray</button>
            <button class="option" mat-button>black</button>
            <button class="option" mat-button>red</button>
        </div>
    </div>
</div>
