<div class="container">
    <div class="content-wrapper">
        <div class="top-container">
            <div class="score-container">
                Score : {{score}}
            </div>
            <div class="timer-container">
                Time Left : {{countdown}}
            </div>
        </div>
        <div class="question-container" *ngIf="triviaService.questionsData.length !== 0">
            <div class="question" [innerHTML]="triviaService.questionsData[questionIndex].question">
                
            </div>
            <button 
            [class.correct-option]="(userAnswer == option && userAnswer == triviaService.questionsData[questionIndex].correct_answer)
             || (userAnswer != '' && userAnswer != option && option == triviaService.questionsData[questionIndex].correct_answer)
             || (userAnswer == '' && countdown == 0 && option == triviaService.questionsData[questionIndex].correct_answer)"
             [class.wrong-option]="userAnswer === option && userAnswer !== triviaService.questionsData[questionIndex].correct_answer"
             (click)="selectAnswer(option)"
             *ngFor="let option of triviaService.questionsData[questionIndex].incorrect_answers" 
             class="option" mat-button>{{option}}
            </button>
    
        </div>
    </div>
</div>
