<div class="container">
    <div class="content-wrapper">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Your Name"/>
        </mat-form-field>
        <button routerLink="/trivia" mat-button class="start-button">Start</button>
        <h2>Leaderboard</h2>
        <div class="leaderboard">
            <div class="row">
                <div class="name-col">Username</div>
                <div class="score-col">Score</div>
            </div>
            <div class="row">
                <div class="name-col">Petsr Svatko</div>
                <div class="score-col">485</div>
            </div>
            <div class="row">
                <div class="name-col">Miroslav Mandjuk</div>
                <div class="score-col">175</div>
            </div>
        </div>
    </div>
</div>
